<!doctype html>
html.theme-bg lang="en"
  head
    meta charset="utf-8"
    link rel="icon" type="image/x-icon" href="/zigistry.ico"
    link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/picnic"
    link rel="canonical" href="https://zigistry.dev/"
    script async defer src="https://buttons.github.io/buttons.js"
    script defer async src="/main.js"
    meta name="viewport" content="width=device-width, initial-scale=1.0"
    <!-- Primary Meta Tags -->
    title -- Zigistry: A package registry and manager for Zig
    meta [
      name="description"
      content="Zigistry is your go-to registry for Zig programming language libraries and packages. Find, share, and contribute to Zig packages easily. Join the Zig community now!"
    ]
    meta [
      name="keywords"
      content="Zigistry, Zig programming language, Zig libraries, Zig packages, package registry, open-source Zig, Zig community, package manager, contribute to Zig"
    ]
    meta name="author" content="Rohan Vashisht"
    <!-- Open Graph / Facebook -->
    meta property="og:type" content="website"
    meta property="og:url" content="https://zigistry.dev/"
    meta [
      property="og:title"
      content="Zigistry: A package registry and manager for Zig"
    ]
    meta [
      property="og:description"
      content="Explore Zig programming language programs and packages on Zigistry. Find, share, and contribute to the Zig community."
    ]
    meta property="og:image" content="https://zigistry.dev/zigistry-social.jpg"
    <!-- Twitter -->
    meta property="twitter:card" content="summary_large_image"
    meta property="twitter:url" content="https://zigistry.dev/"
    meta [
      property="twitter:title"
      content="Zigistry: Discover & Contribute to Zig Libraries & Packages"
    ]
    meta [
      property="twitter:description"
      content="Explore Zig programming language programs and packages on Zigistry. Find, share, and contribute to the Zig community."
    ]
    meta [
      property="twitter:image"
      content="https://zigistry.dev/zigistry-social.jpg"
    ]
    <!-- JSON-LD Structured Data -->
    script type="application/ld+json"
      --
      {
        "@context": "https://schema.org",
        "@type": "WebSite",
        "name": "Zigistry",
        "url": "https://zigistry.dev/",
        "description": "Zigistry is your go-to registry for Zig programming language libraries and packages.",
        "author": {
          "@type": "Person",
          "name": "Rohan Vashisht"
        }
      }
      --
  body.theme-bg
    nav.theme-bg.border-bottom-gold
      a.brand href="/"
        span.theme-gold -- Zig
        span -- istry
      input.show#bmenub type="checkbox"
      label.burger.pseudo.button for="bmenub"
        -- &equiv;
      div.menu.theme-bg
        a.pseudo.button.icon-picture href="/" -- Packages
        a.pseudo.button.icon-picture href="/programs" -- Programs
        a.pseudo.button.icon-picture href="/statistics" -- Statistics
        a.pseudo.button.icon-picture href="/apps" -- Apps
        a.pseudo.button.icon-picture href="/api-docs" -- API
        a.pseudo.button.icon-picture href="/about" -- About
        a.pseudo.button.icon-picture href="/help" -- Help
        a.github-button.mt-6 [
          href="https://github.com/zigistry/zigistry"
          data-color-scheme="no-preference: light; light: light; dark: light;"
          data-icon="octicon-star"
          data-size="small"
          data-show-count="true"
          aria-label="Star zigistry/zigistry on GitHub"
        ]
          -- Star
        button#dark-mode-btn -- &#9728;
        a.dark_light
    div.extra
    ${input.renderBody}
    footer.footer
      header
        a.gray_link href="https://github.com/rohanvashisht1234"
          -- &copy; 2024 Rohan Vashisht
        header.header--footer
          a.gray_link.mr-4 href="/about" -- About
          a.gray_link.mr-4 href="/help" -- Help
          a.gray_link.mr-4 href="https://github.com/zigistry/zigistry" -- GitHub

script type="module" defer
  --
  import { highlightElements } from "https://cdn.jsdelivr.net/npm/zilite@0.0.25";
  import { zig } from "https://cdn.jsdelivr.net/npm/zilite@0.0.25/src/language/zig.js";
  import { bash } from "https://cdn.jsdelivr.net/npm/zilite@0.0.25/src/language/bash.js";
  import { diff } from "https://cdn.jsdelivr.net/npm/zilite@0.0.25/src/language/diff.js";
  highlightElements(zig, "language-zig");
  highlightElements(bash, "language-bash");
  highlightElements(bash, "language-console");
  highlightElements(bash, "language-sh");
  highlightElements(diff, "language-diff");
  // Function to initialize theme based on saved preference or system default
  const initTheme = () => {
    const savedTheme = localStorage.getItem("theme");
    const systemPrefersDark = window.matchMedia(
      "(prefers-color-scheme: dark)",
    ).matches;

    if (savedTheme) {
      // Apply the saved theme
      document.documentElement.classList.toggle("dark", savedTheme === "dark");
    } else {
      // Apply system preference
      document.documentElement.classList.toggle("dark", systemPrefersDark);
    }
  };

  // Function to toggle theme and save preference
  const toggleDarkMode = () => {
    const isDarkMode = document.documentElement.classList.contains("dark");
    const newTheme = isDarkMode ? "light" : "dark";

    document.documentElement.classList.toggle("dark", !isDarkMode);
    localStorage.setItem("theme", newTheme); // Save the new preference
  };

  // Attach toggle function to the button
  document
    .getElementById("dark-mode-btn")
    .addEventListener("click", toggleDarkMode);

  // Initialize theme on page load
  initTheme();
  --

style {
  html,
  body {
    padding: 0;
    margin: 0;
  }
  :root {
    --bg-color: white;
    --fg-color: black;
    --bg2-color: rgb(187, 187, 187);
    --fg2-color: black;
    --bg3-color: white;
    --fg3-color: black;
    --bg4-color: rgb(231, 231, 231);
    --fg4-color: black;

    --fg5-color: #9b7c0f;

    --bg6-color: white;
    --fg6-color: black;
  }
  .dark {
    --bg-color: #1e1e1e;
    --bg2-color: #2a2d35;
    --fg-color: white;
    --fg2-color: white;

    --fg3-color: white;
    --bg3-color: #333536;

    --bg4-color: rgb(50, 56, 67);
    --fg4-color: white;

    --fg5-color: #faca15;

    --bg6-color: #1e1e1e;
    --fg6-color: rgb(177, 177, 177);
  }
  .theme-bg {
    background-color: var(--bg-color) !important;
    color: var(--fg-color);
  }
  .theme-bg-gray {
    background-color: var(--bg2-color) !important;
    color: var(--fg2-color);
  }
  .theme-bg-gray-for-special {
    background-color: var(--bg3-color);
    color: var(--fg3-color);
  }
  .theme-bg-gray-for-input-bar {
    background-color: var(--bg4-color);
    color: var(--fg4-color);
  }
  .theme-gold {
    color: var(--fg5-color);
  }
  * {
    font-family:
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      "Open Sans",
      "Helvetica Neue",
      sans-serif !important;
  }
  .brand {
    font-size: 25px;
  }
  .extra {
    height: 25px;
  }
  #dark-mode-btn {
    background-color: var(--bg6-color);
    color: var(--fg6-color);
    font-size:20px;
    padding: 2px 5px 0 5px;
    margin: 0;
  }
  * {
    font-family:
      ui-sans-serif,
      system-ui,
      sans-serif,
      "Apple Color Emoji",
      "Segoe UI Emoji",
      Segoe UI Symbol,
      "Noto Color Emoji";
  }
  .border-bottom-gold {
    border-bottom: 3px solid #faca15;
  }
  .border-0 {
    border: 0;
  }
  .less {
    padding-bottom: 0px;
  }
  .footer_bottom {
    padding: 20px;
    color: white;
  }
  .gray_link {
    color: gray;
  }
  .mr-4 {
    margin-right: 10px;
  }
  .footer {
    margin-left: 20px;
  }
  .header--footer {
    margin-top: 10px;
  }
}
