<svg
  style="color:#2ab55f;"
  class="w-6 h-6 text-gray-800 dark:text-white"
  aria-hidden="true"
  xmlns="http://www.w3.org/2000/svg"
  width="20"
  height="20"
  fill="none"
  viewBox="0 0 24 24"
>
  <circle
    cx="12"
    cy="12"
    r="9"
    stroke="currentColor"
    stroke-width="2"
    fill="none"
  />
  <circle cx="12" cy="12" r="2" fill="currentColor"/>
</svg>
